/*test custom*/
.black {
    background-color: #000000;
}

.red {
    background-color: red;
}

.aboo-right {
    float: right !important;
}

.aboo-left {
    float: left !important;
}

article .p-tag {
    clear: both;
}

article p.p-avatar {
    background-color: #e86a6a !important;
    float: left;
    margin-right: 24px;

}

article a.author {
    background-color: #DEF1B8;
    float: left;

}

.divImage{
    /*background-color: #DEF1B8;*/
    text-align: center;
        margin: 0 auto;
        width: 100px;
    display: none;
}

article .a-like-it {
    margin-left: 15px;
    float: left;
    color: red !important;
}

article .p-like {
    display: inline;
    margin-left: 10px;
    float: left;
}

.moreSection{
    /*background-color: red;*/
    text-align: center;
}
.moreDiv {
    background-color: #549cb3;
    text-align: center;
    margin: 0 auto;
    color: #eceae4;
    display: inline-block;
    border-radius: 15px;


}

.moreDiv a {
    color: #c0c0c0;
    font-family: byekan;
    background-color: black;
    display: block;
    padding: 5px 25px;
    border-radius: 15px;
    direction: rtl;

}
.moreDiv a:hover{
    background-color: #27aae6;
    color: #ffffff;
}